.wrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.button {
  padding: 5px;
  cursor: pointer;
  background-color: rgb(240, 235, 235);
  border: 1px solid gray;
  border-radius: 8px;
}
.button:hover {
  box-shadow: 0px 2px 10px -5px black;
}
